

body.gohome {
	background-color: white;
	background-image: url(/images/PlageMoorea.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div.blackbox {
	border: 1px solid black;
	text-align: center;
}

span.ico {
    float: left;
    width: 60px;
	margin: 10px
}

img.icone{
	width: 50px;
	max-width: 50px;
	height: 50px;
	max-height: 50px;
}

img.imgsensor {
	position: absolute;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	bottom:0;
	right:0;
}


div.imgsensor {
	display: none;
	position: fixed;
	bottom: 6%;
	left:2%;
	width: 96%;
	height: 90%;
}


div.imgsensortitle {
	position: absolute;
	width: 100%;
	bottom:0;
	left:0;
	height: 6%;
	padding:5px;
	text-align: left;
	font-size: 2em;
	color: white;
}

/* --------------------------------------------------------------------------*/

div.test {
	border: 2px solid red;
	text-align: left;
	position: fixed;
	bottom: 0px;
	right:0px;
	padding: 2px;
}



h1 {
/*	background-color: white;*/
}

h2 {
/*	background-color: blue;*/
}




