

body.gohome {
	background-color: white;
	background-image: url(/images/PlageMoorea.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.blackfnt {
	color:black;
}



div.blackbox {
	border: 1px solid black;
	text-align: center;
}

div.backgr {
	background-image: url(/images/PlageMoorea.jpg);
}

div.goh-msg {
	position: fixed;
	top:40%;
	left:25%;
	width:50%;
	margin:auto;
}

div.mainheader {
	text-align: center;
    width: 100%;
	margin: 5px;
}

span.ico {
    float: left;
    width: 55px;
	margin: 5px;
}

img.icone{
	width: 45px;
	max-width: 45px;
	height: 45px;
	max-height: 45px;
}

img.imgsensor {
	position: absolute;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	bottom:0;
	right:0;
}


div.imgsensor {
	position: fixed;
	bottom: 6%;
	left:2%;
	width: 96%;
	height: 90%;
}


div.imgsensortitle {
	position: absolute;
	width: 96%%;
	bottom:4%;
	left:2%;
	height: 6%;
	padding:5px;
	text-align: left;
	font-size: 2em;
	color: white;
}

/* --------------------------------------------------------------------------*/

div.test {
	border: 2px solid red;
	text-align: left;
	position: fixed;
	bottom: 0px;
	right:0px;
	padding: 2px;
}



h1 {
/*	background-color: white;*/
}

h2 {
/*	background-color: blue;*/
}




