<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>goHome</title>
	<meta name="description" content="goHome">
	<meta meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" title="main" href="css/main.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.json.min.js"></script>
	<script src="js/vue.min.js"></script>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/bootstrap.min.js"></script>


	<script>
	const cReadCurrentUser = 1
	const cReadActors = 2
	const cReadImgSensor = 3
	const cCallActor = 100
	
	var vm = {};


	function callServer(action,cmde){
		$.post("/api",
		{
			command:$.toJSON(cmde)
		},
		function(data, status){
			switch (action) {
			case cReadCurrentUser:
				vm.currentUser = $.parseJSON(data);
				break;
			case cReadActors:
				vm.actorsList = $.parseJSON(data);
				break;
			case cReadImgSensor:
				vm.imgSensorList = $.parseJSON(data);
				break;
			case cCallActor:
				// TODO check if data != '{"error":"....."}'
				vm.showMessage(cmde.command + '(' + data + ')' ,'alert-success',1500);
				break;
			default:
				vm.showMessage('callServer : action inconnue (' + action + ')', 'alert-danger',3000);
				break;
			}
		});
	};


	function loadAll(){

		// Read actors
		callServer(cReadActors,{
			command:'ReadObject', 
			itemtypeid:3,
			itemid:0,
			objectid:0,
			startts:0,
			endts:0,
			jsonparam:''
		});

		// Read img sensors
		callServer(cReadImgSensor,{
			command:'ReadObject', 
			itemtypeid:5,
			itemid:0,
			objectid:0,
			startts:0,
			endts:0,
			jsonparam:''
		});

	};

// -----------------------------------------------------------------------------------------------------------------------------------------

	$(document).ready(function(){

		Vue.component('goh-message', {
			props: ['gohmsg'],
			template: '<div :class="msgclass" @click="closemsg">{{ this.gohmsg.message }}</div>',
			computed: {
				msgclass:function () { return "alert " + this.gohmsg.msgtype + " goh-msg"; }
			}, 
			methods: {
				closemsg: function () { vm.gohMsg.message=''; }
			}
		});

		Vue.component('goh-header', {
			props: ['user'],
			template: '<div class="mainheader" @click="reload" >{{headertext}}</div>',
			computed: {
				headertext:function () { 
					return "Welcome " + vm.getObjVal(this.user,"FirstName") + ' (' + vm.getObjVal(this.user,"Email") + ')'; 
				}
			}, 
			methods: {
				reload: function () { window.location.reload(true); }
			}
		});


		Vue.component('goh-actors', {
			props: {
				actor:null,
				inputparam:''
			},
			template: ' <span><button type="button" class="btn btn-default" style="background:none; border:none;" data-toggle="modal" :data-target="modalref">\
						{{name}}<br><img class="icone" :src="icone"></img></button>\
						<div :id="modalid" class="modal fade" role="dialog"><div class="modal-dialog"><div class="modal-content">\
							<div class="modal-header"><h4 class="modal-title">Confirmation</h4></div>\
							<div class="modal-body">Actionner {{name}}\
							<span v-if="modalinput"><input type="text" class="form-control" v-model="inputparam"></span></div>\
							<div class="modal-footer">{{inputparam}} \
								<button type="button" class="btn btn-default" data-dismiss="modal" @click="actionner">OK</button>\
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>\
						</div></div></div></div></span>',
			computed: {
				id:function () { return this.actor.Values[0].IdObject; },
				name:function () { return vm.getObjVal(this.actor,"Name"); },
				icone:function () { return vm.getObjVal(this.actor,"ImgFileName"); },
				modalid:function () { return "modal_" + this.id ; },
				modalref:function () { return "#" + this.modalid ; },
				modalinput:function () { return vm.getObjVal(this.actor,"DynParamType") != '0'; }
			},
			methods: {
				actionner: function (event) {
					callServer(cCallActor,{
						command:'TriggerActor', 
						itemtypeid:0,
						itemid:0,
						objectid:this.id,
						startts:0,
						endts:0,
						jsonparam:this.inputparam
					});
				}
			}
		});

		Vue.component('goh-isensor', {
			props: ['imgsensor'],
			template: ' <span><button type="button" class="btn btn-default" style="background:none; border:none;" @click="readImg">\
						{{name}}<br><img class="icone" :src="icone"></img></button></span>',
			computed: {
				name:function () { return vm.getObjVal(this.imgsensor,"Name"); },
				icone:function () { return vm.getObjVal(this.imgsensor,"ImgFileName"); }
			},
			methods: {
				readImg: function (event) {
					vm.imgSensorSrc = '/images/PlageMoorea2.jpg';
					var url=vm.getObjVal(this.imgsensor,'Param');
					if ( url == '' ) {
						vm.showMessage('URL invalide pour Image sensor ' + this.name, 'alert-danger',3000);
						vm.imgSensorSrc = ''; 
					} else {
						setTimeout(function() { vm.imgSensorSrc = url; }, 100); // For some raison (?) with setTimeout we avoid image caching
						vm.imgSensorSrc = url;  // TODO sometime the img is not upload/diplay
					}
				}
			}
		});

		Vue.component('goh-isensor-show', {
			props: ['imgsensorsrc'],
			template: ' <div class="imgsensor" @click="hideImg">\
						<img :src="imgsensorsrc" class="imgsensor img-thumbnail"/>\
						<div class="imgsensortitle"> {{imgsensorsrc}} </div></div>', 
			methods: {
				hideImg: function (event) { vm.imgSensorSrc = '';  }
				// TODO : add button to Save img 
			}
		});


		// Read current user
		callServer(cReadCurrentUser,{
			command:'ReadCurrentUser', 
			itemtypeid:0,
			itemid:0,
			objectid:0,
			startts:0,
			endts:0,
			jsonparam:''
		});

		// Read actors
		callServer(cReadActors,{
			command:'ReadObject', 
			itemtypeid:3,
			itemid:0,
			objectid:0,
			startts:0,
			endts:0,
			jsonparam:''
		});

		// Read img sensors
		callServer(cReadImgSensor,{
			command:'ReadObject', 
			itemtypeid:5,
			itemid:0,
			objectid:0,
			startts:0,
			endts:0,
			jsonparam:''
		});

// -----------------------------------------------------------------------------------------------------------------------------------------

		vm = new Vue({
			el: '#gohome',
			data: {
				currentUser: null,
				actorsList: null,
				imgSensorList: null,
				imgSensorSrc: '',
				gohMsg:{msgtype:'alert-success',message:''}
			},
			methods: {
				getObjById: function(obj,id){
					for (i = 0; i < obj.length; i++) {
						if (obj[i].Values[0].IdObject == id) {
							return obj[i];
						}
					}
					return {Fiels:[], Values:[]};
				},
				getObjVal: function(obj,key){
					if ( obj == null ) return '';
					var fieldId=0;
					for (i = 0; i < obj.Fields.length; i++) {
						if (obj.Fields[i].Name == key) {
							fieldId = obj.Fields[i].IdField;
							break;
						}
					}
					if ( fieldId==0 ) {
						return '';
					}
					for (i = 0; i < obj.Values.length; i++) {
						if (obj.Values[i].IdField == fieldId) {
							return obj.Values[i].Val;
						}
					}
					return '';
				},
				showMessage: function(message,msgtype,delay){
					if (msgtype!=null && msgtype.length >0) {
						this.gohMsg.msgtype = msgtype;
					} else {
						this.gohMsg.msgtype = 'alert-info';
					}
					if (delay!=null && delay >0) {
						setTimeout(function() { vm.gohMsg.message=''; }, delay);
					}
					this.gohMsg.message = message;
				}
			}
		});

	});
	</script>
</head>
</head>
<body class="gohome">

<div id="gohome" class="container" style="width:100%;">


	<goh-header :user=currentUser v-if="currentUser!=null"></goh-header>

	<div style="width:100%;">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" class="backtab" href="#home">Acceuil</a></li>
			<li><a data-toggle="tab" class="backtab" href="#menu1">Parametres</a></li>
			<li><a data-toggle="tab" class="backtab" href="#menu2">Adminitration</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<goh-actors v-for="i in actorsList" :actor="i"></goh-actors>
				<goh-isensor v-for="j in imgSensorList" :imgsensor="j"></goh-isensor>
			</div>
			<div id="menu1" class="tab-pane fade">
				<center> <br><br><br><br><h1> -/- </h1><br><br><br><br></center>
			</div>
			<div id="menu2" class="tab-pane fade">
				<h3>Menu 2</h3>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
				<button type="button" class="btn btn-default" onclick="vm.showMessage('example de message',null,1000)">Open Msg</button>
			</div>
		</div>
	</div>

	<goh-message :gohmsg=gohMsg v-if="gohMsg.message!=''"></goh-message>
	<goh-isensor-show :imgsensorsrc=imgSensorSrc  v-if="imgSensorSrc!=''"></goh-isensor-show>

</div>


<!--

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Open Msg</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        Some text in the modal
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="alert('OK');">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


	<div class="alert alert-success goh-msg" style="width:50%;margin:auto;">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		Indicates a successful or positive action.
	</div>

	<div class="alert alert-success" style="width:50%;margin:auto;">
		<i class="material-icons">check</i>Indicates a successful or positive action.
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	</div>

		<i class="material-icons" style="font-size:60px;color:red;">computer</i>


<div id="test" class="test">

</div>
-->


</body>
</html>


